<!DOCTYPE html>
<html>
  <head>
    <title>ShortLink</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'links-bundle' %>
    <%= stylesheet_pack_tag 'links-bundle' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
